body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-bar{
    display: flex;
    margin-bottom: 50px;
    
}
.logo{
    font-size: 25px;
    width: 20%;
    margin-left: 30px;
    
    
}
.logo a{
    color: black;
    text-decoration: none;
}
.nav-items{
    display: inline-flex;
    display: flex;
    font-size: 25px;
    list-style: none;
    width: 60%;
    
}
.nav-items ul{
    margin-left: 30px;
    
}

.nav-items li{
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    
}

.nav-items li a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;

    
}

.nav-items ul a:hover{
    transition: 0.2s;
    color: rgb(175, 0, 0);
    border-bottom: 3px solid rgb(175, 0, 0);
   
}

.social-media ul{
    display: flex;
    list-style: none;
    font-size: 25px;
    
}
.social-media a{
    padding: 5px 10px ;
    color: black;
    margin-right: 20px;
}
.social-media a:hover{
    color: rgb(6, 81, 110);
}

/* Starting banner design*/
.home-page{
    display: flex;
    margin-bottom: 200px;
}
.welcome{
    width: 55%;
    margin-left: 30px;
}
.welcome h3{
    font-size: 25px;
}
.welcome h1{
    font-size: 40px;
}
.welcome h4{
    font-size: 30px;
}

.welcome h3,h1,h4{
    line-height: 15px;
    
}
.welcome p{
    text-align: justify;  
}
.button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: rgb(175, 0, 0);
}

button:hover{
    color: rgb(175, 0, 0);
    background-color:white;
}

.devoloper-image{
    width: 45%;
    
}
.devoloper-image img{
    width: 400px;
    height: 500px;
    margin-left: 60px;
}

/* home page section */

.about-flex{
    display: flex;
    
}
.about .about-heading{
    text-align: center;
    font-size: 30px;
    line-height: 0px;
}
.about .below-item{
    text-align: center;
    font-size: 15px;
    line-height: 0px;
}
.about-description p{
    font-size: 20px;

}.about-description h6{
    font-size: 15px;
    text-align: justify;
    margin-right:40px;
    font-weight: 550;
}
.profile-image{
    width: 50%;
}
.profile-image img{
    width: 300px;
    height: 400px;
    box-shadow: 5px 10px 18px rgb(212, 156, 156);
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 40px;


}
.about-description{
    width: 50%;
}
